:root {
  --main-bg-color: #212121;
  --main-text-color: #ccc;
  --popup-height: 400px;
  --popup-width: 400px;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  width: var(--popup-width);
  padding: 0;
}

#mainContainer {
  max-height: var(--popup-height);
}

.bg-image {
  background-size: contain;
  background-repeat: no-repeat;
}

.tab-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
  min-height: var(--popup-height);
}

.content-text {
  padding: 10px 20px;
}

.tab-pane {
  position: absolute;
  width: 100%;
}

#release {
  height: var(--popup-height);
}

#release .release-headline {
  padding: 0 10px;
}
#release .release-content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px;
}

.lines-a1-t1 .release-content { height: 240px; }
.lines-a1-t2 .release-content { height: 210px; }
.lines-a1-t3 .release-content { height: 210px; }

.lines-a2-t1 .release-content { height: 200px; }
.lines-a2-t2 .release-content { height: 200px; }
.lines-a2-t3 .release-content { height: 200px; }

.lines-a3-t1 .release-content { height: 220px; }
.lines-a3-t2 .release-content { height: 190px; }
.lines-a3-t3 .release-content { height: 190px; }

.lines-a4-t1 .release-content { height: 190px; }
.lines-a4-t2 .release-content { height: 190px; }
.lines-a4-t3 .release-content { height: 190px; }

.lines-a5-t1 .release-content { height: 190px; }
.lines-a5-t2 .release-content { height: 190px; }
.lines-a5-t3 .release-content { height: 190px; }


/* Style for the tree view */
details {
  margin-left: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

/* Hide the default arrow icon */
details summary::-webkit-details-marker {
  display: none;
}

.table-transparent,
.table-transparent th,
.table-transparent td {
  background-color: transparent;
}

.table-transparent tr.selected {
  background-color: var(--main-bg-color);
}

releases-list .content-header {
  background-color: var(--main-bg-color);
  padding: 5px 10px;
}

releases-list .content-header .control-buttons {
  padding: 5px 0 0;
}
