:root {
  --main-bg-color: #212121;
  --main-text-color: #ccc;
  --popup-height: 400px;
  --popup-width: 400px;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  width: var(--popup-width);
  padding: 0;
}

#release-cover {
  min-height: var(--popup-height);
}

.tab-content {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  min-height: var(--popup-height);
}

.content-text {
  padding: 10px 20px;
}

#release-tracklist {
  padding: 0 var(--bs-card-img-overlay-padding);
}

.lines-a1-t1 #release-tracklist { height: 240px; }
.lines-a1-t2 #release-tracklist { height: 210px; }
.lines-a1-t3 #release-tracklist { height: 210px; }

.lines-a2-t1 #release-tracklist { height: 200px; }
.lines-a2-t2 #release-tracklist { height: 200px; }
.lines-a2-t3 #release-tracklist { height: 200px; }

.lines-a3-t1 #release-tracklist { height: 220px; }
.lines-a3-t2 #release-tracklist { height: 190px; }
.lines-a3-t3 #release-tracklist { height: 190px; }

.lines-a4-t1 #release-tracklist { height: 190px; }
.lines-a4-t2 #release-tracklist { height: 190px; }
.lines-a4-t3 #release-tracklist { height: 190px; }

.lines-a5-t1 #release-tracklist { height: 190px; }
.lines-a5-t2 #release-tracklist { height: 190px; }
.lines-a5-t3 #release-tracklist { height: 190px; }


/* Style for the tree view */
details {
  margin-left: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

/* Hide the default arrow icon */
details summary::-webkit-details-marker {
  display: none;
}

.table-transparent,
.table-transparent th,
.table-transparent td {
  background-color: transparent;
}

.table-transparent tr.selected {
  background-color: var(--main-bg-color);
}

releases-list .table {
  margin-bottom: 40px;
}

releases-list .buttons {
  background-color: var(--main-bg-color);
  padding: 5px 10px;
}
