:root {
  --main-bg-color: #212121;
  --main-text-color: #ccc;
  --popup-height: 500px;
  --popup-width: 500px;
  --release-card-content-height: 350px;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  width: var(--popup-width);
  padding: 0;
}

#mainContainer {
  max-height: var(--popup-height);
}

.bg-image {
  background-size: contain;
  background-repeat: no-repeat;
}

#mainContainer > .tab-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
  min-height: var(--popup-height);
}

.content-text {
  padding: 10px;
}

#mainContainer > .tab-pane {
  position: absolute;
  width: 100%;
}

/* Style for the tree view */
details {
  margin-left: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

/* Hide the default arrow icon */
details summary::-webkit-details-marker {
  display: none;
}

.table-transparent,
.table-transparent th,
.table-transparent td {
  background-color: transparent;
}

.table-transparent tr.table-active {
  background-color: rgba(0, 0, 0, 0.5);
}

releases-list .content-header {
  background-color: var(--main-bg-color);
  padding: 5px 10px;
}
releases-list td .history-date {
  display: inline-block;
  font-size: 80%;
  color: grey;
}

releases-list td .controls {
  display: block;
  float: right;
}

releases-list td .controls a {
  display: inline-block;
  margin: 0 2px;
}

console-command {
  position: absolute;
  top: 45px;
  width: var(--popup-width);
  z-index: 999999;
}
