:root {
  --bg-color: #31154b;
  --txt-color: #fff;
  --var-bg-color: #666;
  --var-txt-color: #fff;
}

div.b2d-section-hint {
  background-color: var(--bg-color) !important;
  color: var(--txt-color) !important;
  padding: 10px;
  margin: 0 0 20px 0;
}

div.b2d-section-hint div.b2d-original {
  margin: 5px 0;
}

div.b2d-section-hint .b2d-variation {
  font-style: normal;
  color: var(--var-txt-color) !important;
  background-color: var(--var-bg-color) !important;
}
