.notification-stack {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
}

.notification {
  position: relative; /* Add position relative to contain the close button */
  margin: 5px 0;
  padding: 10px 40px 10px 20px; /* Add extra padding for the close button */
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold !important;
  font-size: 24px;
  color:#fff !important;
}

.de-dark-theme .notification-close {
  color:#fff !important;
}

.notification.error {
  background-color: #721c24 !important;
}

.notification.info {
  background-color: #1e4b7a !important;
}

.notification.success {
  background-color: #155724 !important;
}

.notification.warning {
  background-color: #856404 !important;
}

.notification.debug {
  background-color: #5a6268 !important;
}

.notification.error,
.notification.info,
.notification.success,
.notification.warning,
.notification.debug {
  color: #fff;
}
