.list-group-item {
  padding: 5px;
}

.list-group-item .release-visited-date {
  width: 30%;
  font-size: 0.7em;
  text-align: right;
}

.list-group-item .bd-placeholder-img {
  font-size: 1.125rem;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
}

.list-group-item.view-all-history {
  text-align: center;
}
