body {
  background: #212121;
  color: #ccc;
  width: 400px;
  padding: 0;
}

#release-tracklist {
  padding: 0 var(--bs-card-img-overlay-padding);
}

.artist-lines-1.title-lines-1 #release-tracklist { height: 240px; }
.artist-lines-1.title-lines-2 #release-tracklist { height: 240px; }
.artist-lines-1.title-lines-3 #release-tracklist { height: 240px; }

.artist-lines-2.title-lines-1 #release-tracklist { height: 200px; }
.artist-lines-2.title-lines-2 #release-tracklist { height: 200px; }
.artist-lines-2.title-lines-3 #release-tracklist { height: 200px; }

.artist-lines-3.title-lines-1 #release-tracklist { height: 190px; }
.artist-lines-3.title-lines-2 #release-tracklist { height: 190px; }
.artist-lines-3.title-lines-3 #release-tracklist { height: 190px; }

.artist-lines-4.title-lines-1 #release-tracklist { height: 190px; }
.artist-lines-4.title-lines-2 #release-tracklist { height: 190px; }
.artist-lines-4.title-lines-3 #release-tracklist { height: 190px; }

.artist-lines-5.title-lines-1 #release-tracklist { height: 190px; }
.artist-lines-5.title-lines-2 #release-tracklist { height: 190px; }
.artist-lines-5.title-lines-3 #release-tracklist { height: 190px; }
